# .flake8
[flake8]
select = B,B9,BLK,C,E,F,I,S,W #ANN, D
#docstring-convention = google
ignore = E203,E501,W503,F401,D,F841,I100,S101
max-line-length = 100
application-import-names = privacyraven,tests
import-order-style = google
#per-file-ignores = tests/*:S101
#exclude = tests/*.py, examples/*.py, noxfile.py
