# .flake8
[flake8]
select = B,B9,BLK,C,E,F,I,S,W
ignore = E203,E501,W503
max-line-length = 100
application-import-names = privacyraven,tests
import-order-style = google
per-file-ignores = tests/*:S101
